<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="" Style="height: 80vh; width:50%">
      <div class="border" *ngFor="let image of images">
      <img src="{{ image.urls.small }}" alt="" />
      </div>
      <input type="button" value="Load More" class="btn btn-primary btn-block" *ngIf="!isLoading" (click)="getMore()">
    </div>
  </div>


</ion-content>
