<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="logo">
    <ion-icon name="trash-bin-outline" class="ion-text-center"></ion-icon>
  </div>
  <div id="searchBox">
    <ion-searchbar autocomplete="photo"></ion-searchbar>
    <ion-button  color="success" expand="block" fill="solid">Begin Gathering</ion-button>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
